*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer{
    height: 100px;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 80;
    display: flex;
    align-items: center;
}
aside{
    height: calc(100vh - 100px);
    width: 200px;
    background-color: black;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    
}
.container-side-bar{
    height: 100%;
    font-size: 13px;
    padding: 1rem 1rem;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.container-side-bar img{
    width: 150px;
}
.logo{
    margin-bottom: 2rem;
}
.logo-small{
    width: 20px;
    display: none;
}
.elements-side{
    color: #808080;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.elements-side img{
    width: 20px;
    margin-right: 0.5rem;
    display: block;
}
.playlist-container h2{
    color: white;
    font-size: small;
    margin-bottom: 1rem;
}
.playlist-container{
    margin-top: 2rem;
}
.crea-playlist{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.playlist-container i{
    background-color: gray;
    padding: 0.6rem;
    margin-right: 0.5rem;
}
.crea{
    color: gray;
}
.nome-playlist{
    color: gray;
}
.nome-playlist li{
    margin-bottom: 1rem;
    list-style: none;
}
.profilo{
    /* position: absolute; */
    bottom: 2px;
}
.info-profilo{
    display: flex;
    align-items: center;
    color: gray;
    font-size: 10px;
    margin-bottom: .5rem;
}
.info-profilo img{
    width:  20px;
    display: block;
    margin-right: .5rem;
    
}
.bordo{
    border: 1px solid gray;
    margin-bottom: .5rem;
}
.nome-profilo{
    color: white;
    display: flex;
    align-items: center;
   
}
.nome-profilo img{
    width: 25px;
    background-color: gray;
    border-radius: 50%;
    margin-right: .5rem;
}

.elements-side:hover{
    color: white;
}
.nome-playlist li:hover{
    color: white;
}

@media (max-width: 560px) {
    .casa, .cerca, .libreria{
       display: none;
    }
    .playlist-container{
        display: none;
    }
    .logo{
        display: none;
    }
    .container-side-bar .logo-small{
        display: block;
        width: 20px;
        margin-bottom: 1rem;
        
    }
    .app, .bordo, .nome-profilo h4{
        display: none;
    }
    aside{
        width: 3rem;
    }
    .container-side-bar{
        align-items: center;
    }
   main{
    margin-left: 3rem;
   }
}
.container-footer{
    height: 20px;
    width: 100%;
    padding: 0 1rem;
    background-color: aliceblue;
}
/* main{
    height: calc(100vh - 100px);
    background-color: lightgrey;
    margin-left: 200px;
    overflow:scroll;
} */