* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

aside {
    height: calc(100vh - 100px);
    width: 200px;
    background-color: black;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 40;
    

}

.container-side-bar {
    height: 100%;
    font-size: 13px;
    padding: 1rem 1rem;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: scroll;

}

.container-side-bar img {
    width: 150px;
}

.logo {
    margin-bottom: 2rem;
}

.logo-small {
    width: 20px;
    display: none;
}

.elements-side {
    color: #808080;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.elements-side img {
    width: 20px;
    margin-right: 0.5rem;
    display: block;
}

.playlist-container h2 {
    color: white;
    font-size: small;
    margin-bottom: 1rem;
}

.playlist-container {
    margin-top: 2rem;
}

.crea-playlist {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.playlist-container i {
    background-color: gray;
    padding: 0.6rem;
    margin-right: 0.5rem;
}

.crea {
    color: gray;
}

.nome-playlist {
    color: gray;
}

.nome-playlist li {
    margin-bottom: 1rem;
    list-style: none;
}

.profilo {
    /* position: absolute; */
    bottom: 2px;
}

.info-profilo {
    display: flex;
    align-items: center;
    color: gray;
    font-size: 10px;
    margin-bottom: .5rem;
}

.info-profilo img {
    width: 20px;
    display: block;
    margin-right: .5rem;

}

.bordo {
    border: 1px solid gray;
    margin-bottom: .5rem;
}

.nome-profilo {
    color: white;
    display: flex;
    align-items: center;

}

.nome-profilo img {
    width: 25px;
    background-color: gray;
    border-radius: 50%;
    margin-right: .5rem;
}

.elements-side:hover {
    color: white;
}

.nome-playlist li:hover {
    color: white;
}


/* footer  */
footer {
    height: 100px;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 80;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.container-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-footer img {
    width: 50px;
    margin-right: .5rem;
}

.footer-left {
    display: flex;
    align-items: center;
}

.nome-brano-footer {
    color: white;
    font-size: 12px;
}

.nome-brano-footer div {
    color: gray;
}

.icon {
    display: flex;
}

.icon i {
    width: 100%;
    font-size: 20px;
    color: white;
    padding: 0 1rem;
    margin-bottom: 1rem;
    display: block;

}

.control-bar {
    width: 100%;
    height: 2px;
    background-color: gray;
    position: relative;

}

.control-bar:hover {
    height: 4px;
}

.bar-small {
    width: 30%;
    height: 2px;
    background-color: lightgrey;
    position: absolute;
    left: 0;
    top: 0;
}

.bar-small:hover {
    background-color: greenyellow;
    height: 100%;
}

.footer-right {
    color: white;

}

.footer-right i {
    padding: 0 1rem;

}

/* barra publicità  */
.bar-pubblicità {
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 30;
}

.bar-pubblicità div {
    width: 100%;
    height: 100%;
    position: relative;

}

.bar-pubblicità button {
    position: absolute;
    top: 0;
    right: 0;
    padding: .5rem;
    border-radius: 2rem;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    margin: 2rem 1rem;
}

button:hover {
    transform: scale(1.2);

}

/* main  */
main {
    height: calc(100vh - 100px);
    background-color: rgba(20, 25, 34, 1);
    margin-left: 200px;
    padding-top: 110px;
    overflow: scroll;
}

.container-main {
    max-width: 800px;
    margin: auto;
    padding: 0 1rem;
    padding-bottom: 2rem;
}

.list-nav-main li {
    list-style: none;
    font-size: 15px;
    margin-bottom: 1rem;

}

.link-list {
    text-decoration: none;
    margin-right: 1rem;
    display: block;
    color: gray;
}

.link-list:hover {
    color: white;

}

.list-nav-main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

h2 {
    color: white;
    margin-bottom: 2rem;
    padding: 0 1rem;
}

.recently-played {
    max-width:100% ;
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2rem;
}
.content-song{
    flex: 0 1 calc((100% - 5rem) / 6);
}

.song img{
    width: 100%;
    display: block;
    margin-bottom: 0.5rem;
}
.play-song{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.play-song i{
    position: absolute;
    font-size: 2rem;
    color: white;
    opacity: 0;
}
.content-song:hover i{
     opacity: 1;
}
.content-song:hover img{
    filter: brightness(50%);
}
.titolo{
    text-align: center;
    color: white;
    font-weight: 900;
    padding: .3rem;
}

.subtitle{
    color: gray;
    font-size: 12px;
    text-align: center;
}

.creato-per{
    max-width:100% ;
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2rem;
}
.piu-ascoltati{
    max-width:100% ;
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2rem;
}
.piu-ascoltati img{
    border-radius: 100%;
    object-fit: cover;
}
@media (max-width: 1020px) {
    .content-song{
        flex: 0 1 calc((100% - 3rem) / 4);
    }
}
@media (max-width: 700px) {
    .content-song{
        flex: 0 1 calc((100% - 1rem) / 2);
    } 
}

@media (max-width: 560px) {

    .casa,
    .cerca,
    .libreria {
        display: none;
    }

    .playlist-container {
        display: none;
    }

    .logo {
        display: none;
    }

    .container-side-bar .logo-small {
        display: block;
        width: 20px;
        margin-bottom: 1rem;

    }

    .app,
    .bordo,
    .nome-profilo h4 {
        display: none;
    }

    aside {
        width: 3rem;
    }

    .container-side-bar {
        align-items: center;
    }

    main {
        margin-left: 3rem;
    }
}

@media (max-width: 550px) {
    .icon i {
        font-size: 15px;
        padding: 0 .5rem;
    }

    .footer-right i {
        padding: 0 0.5rem;
        font-size: 15px;
        margin-right: -0.5rem;
    }
}